<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary">JK IT Solution</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a href="index.html" class="nav-item nav-link" id="nav-home">Accueil</a>
            <a href="service.html" class="nav-item nav-link" id="nav-service">Service</a>
            <a href="project.html" class="nav-item nav-link" id="nav-project">Projet</a>
            <a href="contact.html" class="nav-item nav-link" id="nav-contact">Contact</a>
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="https://web.facebook.com/profile.php?id=61574640522614"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</nav>
<!-- Navbar End --> 